.heroes-card {
    max-width: 300px;
}

.contenido-principal{
    padding: 50px;
}

.example-form-field {
    width: 100%;
    max-width: 400px; 
}
  
mat-icon[matPrefix] {
    color: gray; /* Color del ícono de lupa */
    margin-right: 8px; /* Espaciado entre ícono y texto */
}

.btn-agregar{
    margin-left: 30px;
}
